# **Q1**

**What is a database? Differentiate between SQL and NoSQL databases.**

**Answer:**

A database is an organized collection of structured data that is stored and managed on a computer system. It provides a way to store, retrieve, update, and manage data efficiently. Databases are used in various applications and systems to handle large amounts of information and enable efficient data manipulation.


**Differentiate between SQL and NoSQL databases:**

SQL databases are based on the relational model, using tables to store structured data, and rely on the structured query language (SQL) for querying and managing data. They enforce strict schemas, maintain data consistency through ACID compliance, and are often vertically scalable. On the other hand, NoSQL databases use various data models to store unstructured or rapidly changing data, offering flexible schemas and alternative querying methods optimized for specific use cases. They prioritize horizontal scalability, sacrificing strong consistency for eventual consistency, making them suitable for handling large amounts of data and high traffic loads.

# **Q2**

**What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**


**Answer:**

DDL stands for "Data Definition Language." It is a subset of SQL (Structured Query Language) used to define and manage the structure and organization of a database. DDL statements are used to create, modify, and delete database objects such as tables, views, indexes, and constraints.

 * **CREATE:**

  The CREATE statement is used to create new database objects, such as tables, views, indexes, or schemas. For example, consider a scenario where you want to create a table named "Employees" to store information about employees in a company. You can use the CREATE TABLE statement to define the table's structure and columns:

  CREATE TABLE Employees (

        id INT,
        name VARCHAR(50),
        age INT,
        department VARCHAR(50)
  );

  This statement creates a new table called "Employees" with columns for employee ID, name, age, and department.

 * **DROP:**

 The DROP statement is used to delete existing database objects. For instance, let's say you no longer need the "Employees" table and want to remove it from the database:

 Example:

       DROP TABLE Employees;

 This DROP TABLE statement will delete the "Employees" table and remove all the data stored in it.

 * ALTER:
 The ALTER statement is used to modify the structure of an existing database object. Suppose you want to add a new column called "salary" to the "Employees" table to store salary information:

  Example:

       ALTER TABLE Employees
       ADD salary DECIMAL(10,2);

  This ALTER TABLE statement adds a new column named "salary" to the existing "Employees" table, specifying the data type as DECIMAL(10,2) to store decimal numbers with a precision of 10 digits and 2 decimal places.


 * TRUNCATE:
The TRUNCATE statement is used to remove all data from an existing table, while keeping the table structure intact. For instance, if you want to delete all records from the "Employees" table but retain the table's structure for future use, you can use the TRUNCATE TABLE statement:

  Example:

         TRUNCATE TABLE Employees;
  This statement removes all rows from the "Employees" table, effectively clearing out all the data stored in it, but the table structure remains unaffected.

# **Q3**

**What is DML?Explain INSERT, UPDATE, and DELETE with an example.**


**Answer:**

DML refers to the subset of SQL (Structured Query Language) used for manipulating or modifying data within a database. It includes statements that allow users to insert, update, retrieve, and delete data stored in database tables. DML statements are used to interact with the data itself rather than the structure or schema of the database.


 * INSERT: The INSERT statement is used to add new rows or records into a table. It allows you to specify the values to be inserted into specific columns or all columns of a table.
Example:
Suppose we have a table called "Employees" with columns (ID, Name, Age, Department). To insert a new employee into the table, the following INSERT statement can be used:
INSERT INTO Employees (ID, Name, Age, Department)
VALUES (1, 'John Doe', 30, 'Sales');

  This statement will insert a new row with the provided values (1, 'John Doe', 30, 'Sales') into the Employees table.

 * UPDATE: The UPDATE statement is used to modify existing data within a table. It allows you to specify the columns to be updated and the new values to be assigned.
  Example:
Let's say we want to update the department of an employee with ID 1 from 'Sales' to 'Marketing'. The following UPDATE statement can be used:

  UPDATE Employees
  SET Department = 'Marketing'
WHERE ID = 1;

  This statement will modify the Department column of the row where the ID is 1 and set it to 'Marketing'.

 *  DELETE: The DELETE statement is used to remove specific rows or records from a table based on specified conditions.
Example:
Suppose we want to delete all employees who are no longer in the company. The following DELETE statement can be used:

  DELETE FROM Employees
WHERE Department = 'Sales';

  This statement will delete all rows from the Employees table where the Department is 'Sales'.

# **Q4**

**What is DQL? Explain SELECT with an example.**

**Answer:**

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. DQL statements are primarily focused on retrieving information and do not modify the data stored in the database.

Example:
Consider a table called "Employees" with columns (ID, Name, Age, Department, Salary). We can use the SELECT statement to retrieve the names and ages of employees from the "Employees" table where the department is 'Sales':

    SELECT Name, Age FROM Employees WHERE Department = 'Sales';

This SELECT statement will retrieve the names and ages of all employees who belong to the 'Sales' department.

    Result:
    +------------+-----+
    | Name | Age |
    +------------+-----+
    | John Doe | 30 |
    | Jane Smith | 32 |
    +------------+-----+


# **Q5**

**Explain Primary Key and Foreign Key.**

**Answer:**


A primary key is a unique identifier for each record in a database table, ensuring the uniqueness and integrity of the data. It is a column or a set of columns that uniquely identifies each row in the table.

On the other hand, a foreign key is a column or a set of columns in a table that references the primary key of another table, establishing a relationship between the two tables. The foreign key maintains referential integrity, enforcing that the values in the foreign key column(s) correspond to existing values in the primary key column(s) of the related table, enabling the establishment of meaningful associations and connections between different tables in a database.

# **Q6**

**Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**

**Answer:**

In [ ]:
import mysql.connector

# Establishing the connection
conn = mysql.connector.connect(
  host="localhost",
  user="your_username",
  password="your_password",
  database="your_database"
)

# Creating a cursor object
cursor = conn.cursor()

# Executing a query
query = "SELECT * FROM your_table"
cursor.execute(query)

# Fetching the results
results = cursor.fetchall()
for row in results:
    print(row)

# Closing the cursor and connection
cursor.close()
conn.close()

 * cursor(): The cursor() method creates a cursor object that allows you to execute SQL queries and fetch the results from the database. It is called on the database connection object (conn.cursor()). The cursor object acts as a handle to interact with the database.

 * execute(): The execute() method is used to execute SQL statements or queries. It takes the SQL query as a parameter and executes it using the cursor object. In the example above, cursor.execute(query) executes the SQL query stored in the query variable. You can replace 'SELECT * FROM your_table' with your desired SQL query. This method is used to execute queries like SELECT, INSERT, UPDATE, DELETE, etc.

# **Q7**

**Give the order of execution of SQL clauses in an SQL query.**

**Answer:**


 * FROM: Specifies the table or tables from which the data will be retrieved.

 * WHERE: Filters the data based on specified conditions. It narrows down the result set by applying logical conditions to the rows.

 * GROUP BY: Groups the rows based on specified columns. It is used in combination with aggregate functions to perform calculations on groups of data.

 * HAVING: Filters the grouped data based on specified conditions. It is similar to the WHERE clause but operates on the grouped data.

 * SELECT: Specifies the columns to be retrieved from the table(s). It selects the desired data based on the preceding clauses.

 * DISTINCT: Eliminates duplicate rows from the result set. It ensures that only unique values are returned.

 * ORDER BY: Sorts the result set based on specified columns. It can sort the data in ascending or descending order.

 * LIMIT / OFFSET: Limits the number of rows returned or skips a specified number of rows. These clauses are optional and may not be supported in all database systems.